---
import Container from "../shared/Container.astro";
---

<section class="relative mt-12 md:mt-16 flex justify-center">
  <Container className="w-full flex justify-center">

    <div
      class="w-full max-w-5xl mx-auto p-5 sm:p-6 py-6 sm:py-8 rounded-3xl bg-box-bg border border-box-border shadow-lg shadow-box-shadow
      grid grid-cols-2 md:grid-cols-4 gap-6 text-center"
    >

      <div>
        <h2 class="font-semibold text-2xl md:text-4xl text-heading-1">
          10K+
        </h2>
        <p class="mt-2 text-heading-3">Player Aktif</p>
      </div>

      <div>
        <h2 class="font-semibold text-2xl md:text-4xl text-heading-1">
          500+
        </h2>
        <p class="mt-2 text-heading-3">Game Slot</p>
      </div>

      <div>
        <h2 class="font-semibold text-2xl md:text-4xl text-heading-1">
          24/7
        </h2>
        <p class="mt-2 text-heading-3">Layanan Aktif</p>
      </div>

      <div>
        <h2 class="font-semibold text-2xl md:text-4xl text-heading-1">
          99%
        </h2>
        <p class="mt-2 text-heading-3">Winrate User</p>
      </div>

    </div>

  </Container>
</section>